/* STYLE GUIDE COLOURS */
/* Primary */
/* Primary gadient */
/* Secondary */
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.sf-menu {
  line-height: 1.0;
  /*border: 1px solid #D1D6DA;*/ }

.sf-menu ul {
  position: absolute;
  margin-left: -1px;
  top: -999em;
  width: 15em;
  /* left offset of submenus need to match (see below) */
  border: 1px solid #CCCCCC;
  border-collapse: collapse; }

.sf-menu ul li {
  borderborder-collapse: collapse;
  -collapse: collapse;
  width: 100%; }

.sf-menu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */ }

.sf-menu li {
  line-height: 2.5em;
  float: left;
  position: relative; }

.sf-menu a {
  display: block;
  position: relative;
  padding: 0 10px;
  background-repeat: repeat-x;
  opacity: 1; }

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
  left: 0;
  top: 40px;
  /* SUB MENU POS*/
  z-index: 99; }

ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
  top: -999em; }

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
  left: 15em;
  /* match ul width */
  top: 0; }

ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
  top: -999em; }

ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
  left: 15em;
  /* match ul width */
  top: 0; }

ul.sf-menu li:hover a, ul.sf-menu li:hover li a:hover {
  color: #fff !important;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px; }

ul.sf-menu li:hover li a {
  color: #656565 !important;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px; }

/*** DEMO SKIN ***/
.sf-menu {
  float: left; }

.sf-menu a {
  font-size: 14px;
  text-decoration: none; }

.sf-menu a, .sf-menu a:visited {
  /* visited pseudo selector so IE6 applies text colour*/ }

.sf-menu li li {
  margin-top: -1px;
  background: #898989;
  line-height: 2em;
  font-size: 12px !important;
  color: #656565; }

.sf-menu li ul li {
  opacity: 1 !important; }

.sf-menu li ul li a {
  font-size: 1em;
  border: 0px solid #777;
  padding: 7px;
  opacity: 1;
  background-color: #f5f5f5;
  background-image: none;
  text-shadow: white 1px 1px 1px !important; }

/*** arrows **/
.sf-menu a.sf-with-ul {
  padding-right: 1.6em;
  min-width: 1px;
  /* trigger IE7 hasLayout so spans position accurately */ }

.sf-sub-indicator {
  position: absolute;
  display: block;
  right: 0.5em;
  top: 1.05em;
  /* IE6 only */
  width: 11px;
  height: 11px;
  text-indent: -999em;
  overflow: hidden;
  background: url("../img/arrows-ffffff.png") no-repeat -11px -100px;
  /* 8-bit indexed alpha png. IE6 gets solid image only */ }

a > .sf-sub-indicator {
  /* give all except IE6 the correct values */
  top: 1.4em;
  background-position: 0 -100px;
  /* use translucent arrow for modern browsers*/ }

/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
  background-position: -11px -100px;
  /* arrow hovers for modern browsers*/ }

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator {
  background-position: -11px 0; }

.sf-menu ul a > .sf-sub-indicator {
  background-position: 0 0; }

/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator, .sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -11px 0;
  /* arrow hovers for modern browsers*/ }

/*** shadows for all but IE6 ***/
.sf-shadow ul {
  background: url("../img/shadow.png") no-repeat bottom right;
  padding: 0 8px 9px 0;
  -moz-border-radius-bottomleft: 17px;
  -moz-border-radius-topright: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px; }

.sf-shadow ul.sf-shadow-off {
  background: transparent; }

@font-face {
  font-family: 'GehenSansCondensed';
  src: url("../fonts/gehensans-bold-webfont.eot");
  src: url("../fonts/gehensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gehensans-bold-webfont.woff") format("woff"), url("../fonts/gehensans-bold-webfont.ttf") format("truetype"), url("../fonts/gehensans-bold-webfont.svg#GehenSansCondensed") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'GehenSans';
  src: url("../fonts/gehensans-bold-webfont.eot");
  src: url("../fonts/gehensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gehensans-bold-webfont.woff") format("woff"), url("../fonts/gehensans-bold-webfont.ttf") format("truetype"), url("../fonts/gehensans-bold-webfont.svg#GehenSansCondensed") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'GehenSans';
  src: url("../fonts/gehensans-regular-webfont.eot");
  src: url("../fonts/gehensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gehensans-regular-webfont.woff") format("woff"), url("../fonts/gehensans-regular-webfont.ttf") format("truetype"), url("../fonts/gehensans-regular-webfont.svg#GehenSans") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  color: #565656;
  background: #f7f7f7 url(../img/elements/html_bg.png) repeat-y center; }

body {
  background-color: transparent;
  padding: 0 !important;
  font-family: arial, helvetica, geneva, tahoma, georgia, verdana, sans-serif, courier; }

h1, .h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0; }

h2, .h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0; }

h3, .h3 {
  font-size: 1.175em;
  font-weight: bold;
  margin-top: 0; }

p {
  margin-top: 0; }

p.last {
  margin-bottom: 0; }

blockquote {
  background: none repeat scroll 0 0 #F4F4F4;
  border: 1px solid #E1E1E1;
  color: #555555;
  padding: 15px 15px 0 15px;
  margin: 15px; }

#header_real header {
  /*background-image: url(../img/darkwave.png);
  background-position: center 0px;*/
  background-image: url(../img/darkwave_normal.png);
  background-position: center -25px;
  background-repeat: repeat-x;
  background-color: #f7f7f7;
  /*border-bottom: 2px solid #D0D5D9;*/ }

#header, footer {
  margin-left: auto;
  margin-right: auto; }

#header {
  max-width: 1200px;
  height: 155px;
  /*background: url(../img/boat.png) no-repeat 90px -5px;*/
  background: url(../img/boat_normal.png) no-repeat 120px 23px; }

#header #logo {
  float: left;
  margin: 0 0 0 0;
  display: block;
  background: url(../img/logo.png) no-repeat;
  height: 125px;
  font-family: 'GehenSansCondensed'; }

#header #logo, #header_real header #logo:visited {
  font-size: 66px;
  margin: 15px 0 0 275px;
  padding: 13px 0 0 136px;
  color: #0073ae;
  text-decoration: none;
  font-weight: bold; }

#header #logo:hover, #header_real header #logo:active {
  color: #304c7a; }

#header #logo span {
  color: #000;
  font-weight: normal;
  font-family: 'GehenSans';
  line-height: 60px; }

#header #logo .oz {
  font-family: 'GehenSans';
  display: block;
  font-size: .65em;
  color: #333;
  margin-top: -3px; }

#header #search {
  float: right; }

#header form {
  margin: 25px 0 0 0;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid #D1D6DA;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  margin-right: 20px;
  padding: 3px; }

#header form input {
  margin: 0; }

#header #search .notext {
  font-weight: normal; }

#header #search .field-search {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  min-width: 170px !important;
  outline: medium none;
  overflow: auto; }

#header #social {
  float: right;
  text-align: right;
  margin: 15px 20px 0 0;
  min-width: 220px; }

#header #social {
  width: 255px; }

#header #search form {
  padding: 0; }

.lt-ie8 #header #search form {
  float: right;
  max-width: 275px; }

#header #search form input[tyle="submit"] {
  float: right; }

/*
 * 
 * LET the menu begin
 * 
 */
#header nav {
  background-image: linear-gradient(top, whitesmoke, #d5d5d5);
  background-image: -moz-linear-gradient(top, whitesmoke, #d5d5d5);
  background-image: -ms-linear-gradient(top, whitesmoke, #d5d5d5);
  background-image: -o-linear-gradient(top, whitesmoke, #d5d5d5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(whitesmoke), to(#d5d5d5));
  background-image: -webkit-linear-gradient(top, whitesmoke, #d5d5d5);
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: #bbb; }

#header nav .sf-menu {
  display: block;
  text-shadow: white 1px 1px 1px;
  font-size: 16px;
  /* $p1, $p2, $p3, $percent, $frac */ }

#header nav a {
  color: #454545 !important; }

.sf-menu li:hover, .sf-menu li.sfHover, .nav li a:hover, .nav li a:focus,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active,
.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #304C7A !important;
  background-image: linear-gradient(top, #7695cd, #304c7a);
  background-image: -moz-linear-gradient(top, #7695cd, #304c7a);
  background-image: -ms-linear-gradient(top, #7695cd, #304c7a);
  background-image: -o-linear-gradient(top, #7695cd, #304c7a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7695cd), to(#304c7a));
  background-image: -webkit-linear-gradient(top, #7695cd, #304c7a);
  outline: 0;
  color: #fff !important;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px !important; }

.sf-menu a:focus, .sf-menu a:active
, .nav li a:focus, .nav li a:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset; }

/* Menu middel action section */
#menu-action {
  margin-top: -6px !important;
  margin-right: 10px;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px !important;
  color: #fff !important;
  z-index: 1000;
  position: relative; }

#menu-action a {
  height: 45px;
  font-weight: bold;
  font-size: 20px !important;
  color: #fff !important; }

#menu-action a.left {
  border-top: 1px solid #304c7a !important;
  border-left: 1px solid #304c7a !important; }

#menu-action a.right {
  border-top: 1px solid #304c7a !important;
  border-right: 1px solid #304c7a !important; }

#menu-action li,
#menu-action li.sfVisited,
#menu-action a:visited {
  background-color: #304c7a;
  background-image: linear-gradient(top, #7695cd, #304c7a);
  background-image: -moz-linear-gradient(top, #7695cd, #304c7a);
  background-image: -ms-linear-gradient(top, #7695cd, #304c7a);
  background-image: -o-linear-gradient(top, #7695cd, #304c7a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7695cd), to(#304c7a));
  background-image: -webkit-linear-gradient(top, #7695cd, #304c7a);
  font-size: 17px !important;
  color: #fff !important; }

#menu-action a.left:hover, #menu-action a.left:active {
  border-top: 1px solid #304c7a !important;
  border-left: 1px solid #304c7a !important;
  background-color: #174AA0 !important; }

#menu-action a.right:hover, #menu-action a.right:active {
  border-top: 1px solid #304c7a !important;
  border-right: 1px solid #304c7a !important;
  background-color: #174AA0 !important; }

#menu-action li:hover, #menu-action li.sfHover,
#menu-action a:focus, #menu-action a:hover, #menu-action a:active, #menu-action a.active {
  background-image: linear-gradient(top, #7695cd, #001e50);
  background-image: -moz-linear-gradient(top, #7695cd, #001e50);
  background-image: -ms-linear-gradient(top, #7695cd, #001e50);
  background-image: -o-linear-gradient(top, #7695cd, #001e50);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7695cd), to(#001e50));
  background-image: -webkit-linear-gradient(top, #7695cd, #001e50); }

#menu-action a:active, #menu-action a:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset; }

nav #menu-right, nav #menu-action {
  margin-left: 20px; }

/*
 * LET the page begin! 
 * 
 */
#page {
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0 15px 15px !important;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9); }

#page header {
  margin: 0; }

#content, #column {
  font-family: "Droid Sans", arial, helvetica, geneva, tahoma, georgia, verdana, sans-serif, courier; }

#column {
  margin-left: 15px;
  margin-top: 15px;
  padding: 0 0 0 0px; }

#column ul {
  list-style: none;
  margin: 0 0 1em 4px;
  padding: 0 !important; }

#column ul li {
  line-height: 1.3em;
  margin: .25em 0;
  padding: 0 0 0 22px;
  background: url(../img/end.png) no-repeat 0 4px; }

#column .we-are ul li {
  background: url(../img/end-white.png) no-repeat 0 4px; }

#column .column-containter {
  padding: 0 10px; }

.lt-ie8 #column {
  margin-left: 10px; }

#column aside {
  margin: 0 0 15px 0;
  padding-bottom: 10px;
  background-color: #EFEFEF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); }

#column #join-donate {
  margin: 0 0 15px 0;
  padding-bottom: 10px; }

#column #join-donate a {
  width: 39%;
  display: inline-block;
  padding: 0 10px; }

#column aside p {
  margin-top: 0;
  padding: 0 10px;
  font-size: 0.9em; }

#column aside header {
  background-color: #999;
  background-image: linear-gradient(top, #cccccc, #999999);
  background-image: -moz-linear-gradient(top, #cccccc, #999999);
  background-image: -ms-linear-gradient(top, #cccccc, #999999);
  background-image: -o-linear-gradient(top, #cccccc, #999999);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#999999));
  background-image: -webkit-linear-gradient(top, #cccccc, #999999);
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3), 2px 2px 2px rgba(0, 0, 0, 0.7); }

#column aside form {
  margin-bottom: 0; }

#column .we-are {
  background-image: linear-gradient(top, #7695cd, #304c7a);
  background-image: -moz-linear-gradient(top, #7695cd, #304c7a);
  background-image: -ms-linear-gradient(top, #7695cd, #304c7a);
  background-image: -o-linear-gradient(top, #7695cd, #304c7a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7695cd), to(#304c7a));
  background-image: -webkit-linear-gradient(top, #7695cd, #304c7a);
  color: #fff;
  background-color: #304c7a;
  padding: 10px;
  font-size: 1em; }

#column .we-are span {
  font-size: 1.5em;
  font-weight: bold; }

#column .we-are ul {
  padding-left: 15px;
  margin: 0; }

.clear {
  clear: both; }

input::placeholder {
  color: #989898;
  font-style: italic; }

input::-webkit-input-placeholder {
  color: #989898;
  font-style: italic; }

input:-moz-placeholder {
  color: #989898;
  font-style: italic; }

.cms_toolbar-item_logo {
  display: none !important;
  visibility: hidden !important; }

.block {
  padding: 10px 10px 0 10px; }

#banner {
  color: #fff;
  font-family: 'GehenSans'; }

#banner a.btn {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7) !important;
  text-decoration: none; }

#banner a.button:hover, #banner a.button:active {
  text-decoration: none !important; }

#banner p {
  margin: 0; }

#banner .main {
  border: 10px solid #eaeaea;
  background-image: url(../img/banner/launch_banner.png);
  min-height: 150px;
  font-size: 35px;
  padding: 0 5%; }

#banner .main p {
  line-height: 40px;
  margin-bottom: 15px; }

#banner .main .first {
  padding-top: 25px; }

#banner .lower {
  margin-top: 10px; }

#banner .lower div {
  border: 5px solid #eaeaea;
  height: 150px; }

.lt-ie7 #banner .lower div {
  max-width: 220px !important; }

#banner .lower .t2 {
  background: #324a77 url(../img/banner/ppautv.png) no-repeat;
  background-position: 50% 50%; }

#banner .lower .t2 p {
  margin-top: 15px;
  font-size: 1.4em; }

#banner .lower .t1 {
  background: black url(../img/banner/right_jan_2013.png) no-repeat;
  background-position: 100% 50%;
  text-align: center; }

#banner .lower .t1 p {
  margin-top: 5px;
  font-size: 1.2em; }

#banner .lower .t3 {
  background: black url(../img/banner/left_jan_2013.png) no-repeat;
  background-position: 100% 50%;
  text-align: center;
  padding-right: 85px; }

#banner .lower .c {
  font-size: 18px; }

#banner .lower .last {
  margin-right: 0; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.news-header {
  text-align: center; }

.news-header, #page article .entry-meta, #page article .entry-footer {
  margin: 10px 0;
  border: 5px solid #eaeaea;
  background-color: #eaeaea;
  font-size: 0.9em; }

.footer-menu {
  margin: 10px 0;
  font-size: 0.9em; }

.news .info {
  overflow: auto; }

.news .info .categories, .news .info .comments, .news .info .tags {
  float: left;
  margin-right: 20px; }

#page h1, #page h1 a, .news h2, .news h2 a {
  color: #304c7a;
  margin: 0;
  font-size: 28px; }

#page .entry-content {
  margin-top: 10px; }

.news .by {
  font-size: 0.9em;
  color: #888; }

/* Icons */
.icon, .icon-48 {
  background-repeat: no-repeat;
  display: block;
  float: left; }

.icon-48 {
  height: 48px;
  width: 55px; }

.icon-download {
  background-image: url(../img/icons/function/box_download_48.png); }

.icon-pp {
  background-image: url(../img/icons/function/app_48.png); }

#real-footer {
  text-align: center;
  background-color: #efefef;
  max-width: 1200px !important;
  margin: 0 auto; }

.footer-links {
  border-top: 1px solid #e0e0e0; }

#real-footer .license {
  position: relative;
  top: 0px; }

#real-footer .license img {
  border-width: 0; }

.ppau-fixed-top, .ppau-fixed-bottom {
  margin-bottom: 0;
  z-index: 1030; }

.ppau-fixed-top .navbar-inner {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 10px rgba(0, 0, 0, 0.1); }

.ppau-fixed-top .navbar-inner {
  border-radius: 0 0 0 0;
  padding-left: 0;
  padding-right: 0; }

.ppau-fixed-top .navbar-inner {
  border-width: 0 0; }

.ppau-fixed-top .container {
  max-width: 1200px;
  margin: 0 auto; }

/* mobile */
@media screen and (max-width: 768px) {
  #page {
    padding-right: 15px !important; }

  #header_real header {
    background-image: url(../img/darkwave_normal_small.png);
    background-position: 0px 47px;
    background-repeat: repeat-x;
    background-color: #f7f7f7;
    height: 65px; }

  #header {
    margin-left: auto;
    margin-right: auto; }

  #header {
    height: 65px;
    background: url(../img/boat_normal.png) no-repeat 235px 10px !important;
    background-size: 50px !important; }

  #header #logo {
    float: left;
    margin: 0 0 0 0;
    display: block;
    background: url(../img/logo.png) no-repeat;
    background-size: 55px;
    height: 55px;
    font-family: 'GehenSansCondensed'; }

  #header #logo, #header_real header #logo:visited {
    font-size: 29px;
    margin: 5px 0 0 5px;
    padding: 1px 0 0 60px;
    color: #0073ae;
    text-decoration: none;
    font-weight: bold; }

  #header #logo:hover, #header_real header #logo:active {
    color: #304c7a; }

  #header #logo span {
    color: #000;
    font-weight: normal;
    font-family: 'GehenSans';
    line-height: 33px; }

  #header #logo .oz {
    font-family: 'GehenSans';
    display: block;
    margin-top: -6px;
    color: #333; }

  #header #logo {
    margin-left: 10px !important; }

  body {
    min-width: 0px !important; }

  #banner .t1, #banner .t2, #banner .t3 {
    margin-bottom: 10px !important; }

  #column {
    margin: 0;
    padding: 5px; } }
@media (max-width: 1120px) {
  #header {
    background-image: none; }

  #header #logo {
    margin-left: 15px; } }
/* tablet */
@media (min-width: 768px) and (max-width: 979px) {
  #id_search_form {
    display: none; }

  #header_real header {
    background-image: url(../img/darkwave_normal_small.png);
    background-position: 0px 67px;
    background-repeat: repeat-x;
    background-color: #f7f7f7;
    height: 85px; }

  #header {
    margin-left: auto;
    margin-right: auto; }

  #header {
    height: 85px;
    background: url(../img/boat_normal.png) no-repeat 295px 5px !important;
    background-size: 70px !important; }

  #header #logo {
    float: left;
    margin: 0 0 0 0;
    display: block;
    background: url(../img/logo.png) no-repeat;
    background-size: 67px;
    height: 65px;
    font-family: 'GehenSansCondensed'; }

  #header #logo, #header_real header #logo:visited {
    font-size: 36px;
    margin: 5px 0 0 5px;
    padding: 6px 0 0 73px;
    color: #0073ae;
    text-decoration: none;
    font-weight: bold; }

  #header #logo:hover, #header_real header #logo:active {
    color: #304c7a; }

  #header #logo span {
    color: #000;
    font-weight: normal;
    font-family: 'GehenSans';
    line-height: 33px; }

  #header #logo .oz {
    font-family: 'GehenSans';
    display: block;
    margin-top: -1px;
    font-size: .60em;
    color: #333;
    letter-spacing: 1px; } }
@media (min-width: 768px) and (max-width: 1144px) {
  #banner .t3 {
    background: black url(../img/banner/left_jan_2013_dark.png) no-repeat !important;
    background-position: 100% 50% !important;
    padding-right: 0 !important; } }
@media (min-width: 979px) {
  ul.nav li.dropdown ul.dropdown-menu {
    margin-top: -1px; }

  ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block; }

  .dropdown-menu a {
    line-height: 28px !important; }

  #menu-left, #menu-left-menu {
    margin-left: 50px !important; } }
#page-row {
  background-color: #fff;
  max-width: 1200px !important;
  margin: 0 auto; }

.dropdown-menu .active > a {
  background-color: #ccc;
  background-image: -moz-linear-gradient(center top, #eeeeee, #e8e8e8);
  background-repeat: repeat-x;
  color: #777 !important;
  text-shadow: none !important;
  outline: 0 none;
  text-decoration: none; }

.center, .centre {
  text-align: center; }

.nav .dropdown .dropdown-menu {
  display: none; }

.nav .open .dropdown-menu {
  display: block !important; }

.fade {
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -ms-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  opacity: 0; }

.fade.in {
  opacity: 1; }

#ppautv-player {
  text-align: center; }

#ppautv-countdown {
  font-size: 20px;
  color: red;
  font-wieght: bold; }

div#clock {
  color: white;
  overflow: hidden;
  text-align: center; }

.lt-ie8 div#clock p {
  display: inline !important;
  float: left !important; }

div#clock p {
  background: #333;
  display: inline-block; }

div#clock p span {
  display: block;
  font-weight: bold;
  padding: 5px 0 0; }

div#clock div.space {
  color: #ccc;
  display: block;
  float: left; }

#comments #comments-title {
  font-size: 16px;
  margin-bottom: 0;
  line-height: 28px; }

#comments .comment {
  margin-left: 0 !important;
  list-style: none;
  font-size: 12px; }

#comments p {
  margin-bottom: 5px; }

#comments footer {
  min-height: 15px;
  margin-left: 2%; }

#comments .commentlist article {
  padding: 10px; }

#comments .commentlist li.thread-odd {
  background-color: #EEEEEE;
  border-bottom: 1px dotted #CCCCCC; }

#comments img.avatar {
  background-color: #F3F3F3;
  border: 1px solid #DDDDDD;
  border-radius: 3px 3px 3px 3px;
  display: block;
  float: left;
  margin: 0 8px 1px 0;
  padding: 3px; }

#respond {
  background-color: white; }

#respond #reply-title legend {
  font-size: 16px; }

#respond, #respond label {
  font-size: 13px !important; }

#commentform .controls pre {
  font-size: 12px !important; }

#comments [class*="span"] {
  min-height: 0px !important; }

#respond #reply-title {
  overflow: auto;
  clear: both; }

#respond h3 {
  margin-bottom: 0; }

#respond h3 legend, #respond h3 small {
  float: left;
  width: auto;
  margin-bottom: 0; }

#respond .form-actions {
  margin: 0; }

#respond h3 small {
  margin: 20px 0px 0px 15px;
  font-size: 12px; }

#respond .logged-in-as {
  float: right;
  margin: -25px 0 0; }

#respond .control-group {
  margin-bottom: 7px; }

#footer-menu-container ul {
  list-style: none;
  overflow: auto; }

#footer-menu-container ul li {
  float: left;
  margin: 0 7px; }

.mobile-menu-button {
  padding: 7px 10px;
  font-weight: bold;
  margin-right: 5px;
  font-size: 14px;
  line-height: 20px; }

#next-broadcast {
  background-color: #ddd;
  margin: 0 10px;
  padding: 5px; }

#next-broadcast .next {
  line-height: 28px; }

#next-broadcast .time {
  font-size: 24px; }

#responsive-menu-button {
  margin-bottom: 5px;
  float: left !important;
  color: #222;
  text-shadow: none !important; }

#footer-menu-container {
  display: inline-block; }

#footer-menu-container ul {
  margin: 0;
  padding: 0; }

.footer-content p {
  font-size: 85%;
  margin: 6px;
  line-height: 14px; }

.ai1ec-event-title {
  display: block; }

.icon-arrow-right:before {
  content: "" !important; }

#container .ai1ec-date-title {
  margin: 0.6em 0.5em 0.5em !important;
  border-radius: 0.5em !important;
  -webkit-border-radius: 0.5em !important;
  -moz-border-radius: 0.5em !important; }

#container .ai1ec-agenda-widget-view .ai1ec-date {
  background: none !important;
  border-top: none !important; }

.widget_archive select {
  width: 100%; }

.tint {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.1em 0.3em; }

@media print {
  #column, #header_real, .ppau-fixed-top, .footer-links, #respond, #nav-single {
    display: none; } }
.lt-ie9 body {
  min-width: 1120px !important; }

.lt-ie8 .t3, .lt-ie8 .t2, .lt-ie8 .t1 {
  max-width: 270px !important; }

.lt-ie8 .t3 {
  padding: 0px 0px 0px 0px !important; }

#comments .pingback {
  padding: 4px; }

#comments .pingback .row {
  margin-left: 0 !important; }

.no-transition {
  -webkit-transition: height 0 !important;
  -moz-transition: height 0 !important;
  -ms-transition: height 0 !important;
  -o-transition: height 0 !important;
  transition: height 0 !important; }

input.button {
  height: 30px;
  font-family: 'Droid Sans', Arial; }

.button {
  line-height: 28px;
  padding: 0 15px 0 15px;
  text-align: center;
  display: inline-block;
  font-size: 1.1em;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 0 4px 8px 0;
  outline: none;
  /*Remove Chrome and Safari glows on focus*/
  text-shadow: 0 0 0 transparent, 0 1px 0 rgba(0, 0, 0, 0.45); }

.button-flat-grey, .button-flat-grey:visited {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #bbbbbb;
  background-color: #aaaaaa;
  text-decoration: none;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 1px 1px #F6F6F6 inset; }

.button-flat-grey:hover, .button-flat-grey:active, .button-flat-grey:focus {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #bbbbbb;
  background-color: #bbbbbb;
  text-decoration: none;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 1px 1px #F6F6F6 inset; }

.button-grey, .button-grey:visited {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #333333;
  background-color: #dddddd;
  text-decoration: none;
  /* $p1, $p2, $p3, $percent, $frac */
  background-image: linear-gradient(top, #aaaaaa, #777777);
  background-image: -moz-linear-gradient(top, #aaaaaa, #777777);
  background-image: -ms-linear-gradient(top, #aaaaaa, #777777);
  background-image: -o-linear-gradient(top, #aaaaaa, #777777);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aaaaaa), to(#777777));
  background-image: -webkit-linear-gradient(top, #aaaaaa, #777777);
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(5, 5, 5, 0.2); }

.button-grey:hover {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #333333;
  background-color: #dddddd;
  text-decoration: none;
  /* $p1, $p2, $p3, $percent, $frac */
  background-image: linear-gradient(top, #aaaaaa, #555555);
  background-image: -moz-linear-gradient(top, #aaaaaa, #555555);
  background-image: -ms-linear-gradient(top, #aaaaaa, #555555);
  background-image: -o-linear-gradient(top, #aaaaaa, #555555);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aaaaaa), to(#555555));
  background-image: -webkit-linear-gradient(top, #aaaaaa, #555555);
  text-decoration: none; }

.button-grey:active, .button-grey:focus {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #333333;
  background-color: #dddddd;
  text-decoration: none;
  /* $p1, $p2, $p3, $percent, $frac */
  background-image: linear-gradient(top, #aaaaaa, #555555);
  background-image: -moz-linear-gradient(top, #aaaaaa, #555555);
  background-image: -ms-linear-gradient(top, #aaaaaa, #555555);
  background-image: -o-linear-gradient(top, #aaaaaa, #555555);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aaaaaa), to(#555555));
  background-image: -webkit-linear-gradient(top, #aaaaaa, #555555);
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset; }

.button-green, .button-green:visited {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #0d7c1e;
  background-color: #2fbc44;
  text-decoration: none;
  /* $p1, $p2 */
  background-image: linear-gradient(top, #50e566, #2fbc44);
  background-image: -moz-linear-gradient(top, #50e566, #2fbc44);
  background-image: -ms-linear-gradient(top, #50e566, #2fbc44);
  background-image: -o-linear-gradient(top, #50e566, #2fbc44);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#50e566), to(#2fbc44));
  background-image: -webkit-linear-gradient(top, #50e566, #2fbc44);
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(5, 5, 5, 0.2); }

.button-green:hover {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #0d7c1e;
  background-color: #2fbc44;
  text-decoration: none;
  /* $p1, $p2 */
  background-image: linear-gradient(top, #75e586, #2fbc44);
  background-image: -moz-linear-gradient(top, #75e586, #2fbc44);
  background-image: -ms-linear-gradient(top, #75e586, #2fbc44);
  background-image: -o-linear-gradient(top, #75e586, #2fbc44);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#75e586), to(#2fbc44));
  background-image: -webkit-linear-gradient(top, #75e586, #2fbc44);
  text-decoration: none; }

.button-green:active, .button-green:focus {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #0d7c1e;
  background-color: #2fbc44;
  text-decoration: none;
  /* $p1, $p2 */
  background-image: linear-gradient(top, #75e586, #2fbc44);
  background-image: -moz-linear-gradient(top, #75e586, #2fbc44);
  background-image: -ms-linear-gradient(top, #75e586, #2fbc44);
  background-image: -o-linear-gradient(top, #75e586, #2fbc44);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#75e586), to(#2fbc44));
  background-image: -webkit-linear-gradient(top, #75e586, #2fbc44);
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset; }

.button-orange, .button-orange:visited {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #d36c0c;
  background-color: #f6891f;
  text-decoration: none;
  /* $p1, $p2 */
  background-image: linear-gradient(top, #f6b06c, #f6891f);
  background-image: -moz-linear-gradient(top, #f6b06c, #f6891f);
  background-image: -ms-linear-gradient(top, #f6b06c, #f6891f);
  background-image: -o-linear-gradient(top, #f6b06c, #f6891f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6b06c), to(#f6891f));
  background-image: -webkit-linear-gradient(top, #f6b06c, #f6891f);
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(5, 5, 5, 0.2); }

.button-orange:hover {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #d36c0c;
  background-color: #f6891f;
  text-decoration: none;
  /* $p1, $p2 */
  background-image: linear-gradient(top, #f6bf8a, #f6891f);
  background-image: -moz-linear-gradient(top, #f6bf8a, #f6891f);
  background-image: -ms-linear-gradient(top, #f6bf8a, #f6891f);
  background-image: -o-linear-gradient(top, #f6bf8a, #f6891f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6bf8a), to(#f6891f));
  background-image: -webkit-linear-gradient(top, #f6bf8a, #f6891f);
  text-decoration: none; }

.button-orange:active, .button-orange:focus {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #d36c0c;
  background-color: #f6891f;
  text-decoration: none;
  /* $p1, $p2 */
  background-image: linear-gradient(top, #f6bf8a, #f6891f);
  background-image: -moz-linear-gradient(top, #f6bf8a, #f6891f);
  background-image: -ms-linear-gradient(top, #f6bf8a, #f6891f);
  background-image: -o-linear-gradient(top, #f6bf8a, #f6891f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f6bf8a), to(#f6891f));
  background-image: -webkit-linear-gradient(top, #f6bf8a, #f6891f);
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset; }

.button-blue, .button-blue:visited {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #3b6aaa;
  background-color: #2b62ae;
  text-decoration: none;
  /* $p1, $p2 */
  background-image: linear-gradient(top, #679eea, #2b62ae);
  background-image: -moz-linear-gradient(top, #679eea, #2b62ae);
  background-image: -ms-linear-gradient(top, #679eea, #2b62ae);
  background-image: -o-linear-gradient(top, #679eea, #2b62ae);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#679eea), to(#2b62ae));
  background-image: -webkit-linear-gradient(top, #679eea, #2b62ae);
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(5, 5, 5, 0.2); }

.button-blue:hover {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #3b6aaa;
  background-color: #2b62ae;
  text-decoration: none;
  /* $p1, $p2 */
  background-image: linear-gradient(top, #679eea, #3a72c0);
  background-image: -moz-linear-gradient(top, #679eea, #3a72c0);
  background-image: -ms-linear-gradient(top, #679eea, #3a72c0);
  background-image: -o-linear-gradient(top, #679eea, #3a72c0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#679eea), to(#3a72c0));
  background-image: -webkit-linear-gradient(top, #679eea, #3a72c0);
  text-decoration: none; }

button-blue:active, .button-blue:focus {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #3b6aaa;
  background-color: #2b62ae;
  text-decoration: none;
  /* $p1, $p2 */
  background-image: linear-gradient(top, #679eea, #3a72c0);
  background-image: -moz-linear-gradient(top, #679eea, #3a72c0);
  background-image: -ms-linear-gradient(top, #679eea, #3a72c0);
  background-image: -o-linear-gradient(top, #679eea, #3a72c0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#679eea), to(#3a72c0));
  background-image: -webkit-linear-gradient(top, #679eea, #3a72c0);
  text-decoration: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset; }

.button-red, .button-red:visited {
  /* $color, $border-color, $background-color */
  color: white !important;
  border: solid 1px;
  border-color: #a83a3a;
  background-color: #ad2b2b;
  text-decoration: none;
  /* $p1, $p2 */
  background-image: linear-gradient(top, #e86868, #ad2b2b);
  background-image: -moz-linear-gradient(top, #e86868, #ad2b2b);
  background-image: -ms-linear-gradient(top, #e86868, #ad2b2b);
  background-image: -o-linear-gradient(top, #e86868, #ad2b2b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e86868), to(#ad2b2b));
  background-image: -webkit-linear-gradient(top, #e86868, #ad2b2b);
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(5, 5, 5, 0.2); }

.button-red:hover {
  /* $p1, $p2 */
  background-image: linear-gradient(top, #e86868, #bf3b3b);
  background-image: -moz-linear-gradient(top, #e86868, #bf3b3b);
  background-image: -ms-linear-gradient(top, #e86868, #bf3b3b);
  background-image: -o-linear-gradient(top, #e86868, #bf3b3b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e86868), to(#bf3b3b));
  background-image: -webkit-linear-gradient(top, #e86868, #bf3b3b);
  text-decoration: none; }

button-red:active, .button-red:focus {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset; }

.sidebar-action-item {
  line-height: 40px;
  margin: 0;
  font-size: 1.1em;
  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px !important;
  font-weight: bold; }

.is2-group {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  width: 32px;
  height: 32px;
  background-image: url(../img/icons/iconsweets2/32/group.png);
  background-position: 0px -10px;
  margin: 1px 3px 0px 3px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat; }

.is2-donate {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  width: 32px;
  height: 32px;
  background-image: url(../img/icons/iconsweets2/32/donate.png);
  background-position: 0px -10px;
  margin: 1px 3px 0px 3px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat; }

.is2-tv {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  width: 32px;
  height: 32px;
  background-image: url(../img/icons/iconsweets2/32/tv.png);
  background-position: 0px -10px;
  margin: 1px 3px 0px 3px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-top: -6px; }

.lt-ie10 .is2-donate, .lt-ie10 .is2-group, .lt-ie10 .is2-tv {
  margin: 1px 5px 0px 1px; }

@media (min-width: 768px) and (max-width: 1146px) {
  #column #join-donate a {
    width: 91%;
    display: block; }

  #column #join-donate a.pig {
    margin-top: 10px; } }
@media (min-width: 1144px) {
  #column #join-donate a.pig {
    margin-left: 10px; } }
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2b62ae;
  background-image: -moz-linear-gradient(top, #679eea, #3a72c0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#679eea), to(#3a72c0));
  background-image: -webkit-linear-gradient(top, #679eea, #3a72c0);
  background-image: -o-linear-gradient(top, #679eea, #3a72c0);
  background-image: linear-gradient(to bottom, #679eea, #3a72c0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff679eea', endColorstr='#ff3a72c0', GradientType=0);
  border-color: #3a72c0 #3a72c0 #2b62ae;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #3a72c0;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #3a72c0;
  *background-color: #343eac; }

.btn-primary:active,
.btn-primary.active {
  background-color: #2e3799 \9; }

/* FORMS */
.field {
  margin-bottom: 15px;
  position: relative; }

.field label {
  width: 200px;
  display: block; }

.field.field-text input:focus,
.field.field-textarea textarea:focus,
.field.field-select select:focus {
  border-color: #5D9DFF; }

.field.field-text input,
.field.field-textarea textarea,
.field.field-select select {
  background-color: #FFFFFF;
  border: 1px solid #BFBFBF;
  border-radius: 3px;
  color: #444444;
  display: block;
  padding: 5px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset; }

.field-error input {
  border: 1px solid #BB0000 !important; }

.field-error .errors ul {
  padding: 5px 0;
  margin: 0;
  overflow: auto; }

.field-error .errors ul li {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  list-style-type: none;
  color: #fff;
  background-color: #BB0000;
  padding: 5px 8px;
  float: left; }

body .ai1ec-agenda-widget-view .ai1ec-event {
  margin: 0 0 1em 0 !important; }

body .ai1ec-agenda-widget-view .ai1ec-date {
  background: none !important;
  border-top: none !important; }

body .ai1ec-event-title {
  display: block; }

body .icon-arrow-right:before {
  content: "" !important; }

body .ai1ec-month-view .ai1ec-event {
  height: auto; }

body .ai1ec-agenda-widget-view h3.ai1ec-date-title {
  margin: 0.1em 0.5em 0.5em !important;
  border-radius: 0.5em !important;
  -webkit-border-radius: 0.5em !important;
  -moz-border-radius: 0.5em !important; }
