
@mixin border_radius($radius){
  border-radius:$radius;
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
}

/* FORMS */


.field {
  margin-bottom: 15px;
  position: relative;
}

.field label {
  width: 200px;
  display: block;
  
}

.field.field-text input:focus,
.field.field-textarea textarea:focus,
.field.field-select select:focus
{
  border-color: #5D9DFF;
}

.field.field-text input,
.field.field-textarea textarea,
.field.field-select select
{
  background-color: #FFFFFF;
  border: 1px solid #BFBFBF;
  border-radius: 3px;
  color: #444444;
  display: block;
  padding: 5px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.field-error input{
  border: 1px solid #BB0000 !important;
}

.field-error .errors ul {
  padding:5px 0;
  margin:0;
  overflow: auto;
}

.field-error .errors ul li {
  @include border_radius(3px);
  list-style-type:none;
  color: #fff;
  background-color: #BB0000;
  padding:5px 8px;
  float: left;
  
}
