
@mixin border_radius($radius){
	border-radius:$radius;
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
}
@mixin border_radius_top($radius){
	border-top-left-radius:$radius;
	-webkit-border-top-left-radius:$radius;
	-moz-border-top-left-radius:$radius;
	border-top-right-radius:$radius;
	-webkit-border-top-right-radius:$radius;
	-moz-border-top-right-radius:$radius;
}

@mixin button_base($color, $border-color, $background-color) {
	color: $color;
	border: solid 1px;
	border-color: $border-color;
	background-color: $background-color;
	font-weight: bold;
}

@mixin button_gradient($p1, $p2) {
	background-image: linear-gradient(top, $p1, $p2);
	background-image: -moz-linear-gradient(top, $p1, $p2);
	background-image: -ms-linear-gradient(top, $p1, $p2);
	background-image: -o-linear-gradient(top, $p1, $p2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($p1), to($p2));
	background-image: -webkit-linear-gradient(top, $p1, $p2);
}

@mixin button_gradient_3($p1, $p2, $p3, $percent, $frac) {
	background-image: linear-gradient(top, $p1, $p2 $percent, $p3);
	background-image: -moz-linear-gradient(top, $p1, $p2 $percent, $p3);
	background-image: -ms-linear-gradient(top, $p1, $p2 $percent, $p3);
	background-image: -o-linear-gradient(top, $p1, $p2 $percent, $p3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($p1), color-stop($frac, $p2), to($p3));
	background-image: -webkit-linear-gradient(top, $p1, $p2 $percent, $p3);
}

@mixin box_shadow_br($size){
	box-shadow: 0 $size 0 rgba(0, 0, 0, 0.1), 0 $size 0 rgba(255, 255, 255, 0.5) inset; 
	-moz-box-shadow: 0 $size 0 rgba(0, 0, 0, 0.1), 0 $size 0 rgba(255, 255, 255, 0.5) inset; 
	-webkit-box-shadow: 0 $size 0 rgba(0, 0, 0, 0.1), 0 $size 0 rgba(255, 255, 255, 0.5) inset;
}

@mixin box_shadow($hsize,$vsize,$radius,$spread,$color){
	-webkit-box-shadow: $hsize $vsize $radius $spread $color;
	-webkit-box-shadow: $hsize $vsize $radius $spread $color;
	box-shadow: $hsize $vsize $radius $spread $color; 
}

@mixin box_shadow_button($size){
	box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(255, 255, 255, 0.7);
	-moz-box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(255, 255, 255, 0.7); 
	-webkit-box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(255, 255, 255, 0.7);
}

html {
	font-family: "sans-serif";
	color: $font_color;
	background: #f7f7f7 url(../img/elements/html_bg.png) repeat-y center;
}

body {
	background-color: transparent;
}

h1, .h1 {
	font-size:2em;
	font-weight: bold;
	margin-top: 0;
}

h2, .h2 {
	font-size:1.5em;
	font-weight: bold;
	margin-top: 0;
}

h3, .h3 {
	font-size:1.175em;
	font-weight: bold;
	margin-top: 0;
}

p {
	margin-top: 0;
}

p.last{
	margin-bottom: 0;
}


blockquote {
	background: none repeat scroll 0 0 #F4F4F4;
	border: 1px solid #E1E1E1;
	color: #555555;
	padding: 15px 15px 0 15px;
	margin: 15px;
}



header {
	/*background-image: url(../img/darkwave.png);
	background-position: center 0px;*/
	background-image: url(../img/darkwave_normal.png);
	background-position: center -25px;
	background-repeat: repeat-x;
	
	background-color: #f7f7f7;
	/*border-bottom: 2px solid #D0D5D9;*/
}

#header, footer{
	margin-left: auto;
	margin-right: auto;
}

#header{
	max-width: 1200px;
	height: 155px;
	/*background: url(../img/boat.png) no-repeat 90px -5px;*/
	background: url(../img/boat_normal.png) no-repeat 120px 23px;
}

#header #logo {
	float: left;
	margin: 0 0 0 0;
	display: block;
	background: url(../img/logo.png) no-repeat;
	height: 125px;
	font-family: 'GehenSansCondensed';
}

#header #logo, header #logo:visited {
	font-size: 5em;
	margin: 15px 0 0 275px;
	padding: 13px 0 0 139px;
	color: $pc;
	text-decoration: none;
	font-weight: bold;
}

#header #logo:hover, header #logo:active {
	color: $pcc;
}

#header #logo span {
	color: #000;
	font-weight: normal;
	font-family: 'GehenSans';
	line-height: 60px;
}

#header #logo .oz {
	font-family: 'GehenSans';
	display: block;
	font-size: .65em;
	color: #333;
}

#header #search {
	float: right;
}

#header form {
	margin: 25px 0 0 0;
	font-weight: normal;
	background-color: rgba(255, 255, 255, 0.6);
	border: 3px solid #D1D6DA;
	@include border_radius(7px);
	margin-right: 20px;
	padding: 3px;
}

#header form input {
	margin: 0;
}

#header #search .notext {
	font-weight: normal;
}

#header #search .field-search {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	min-width: 170px !important;
	outline: medium none;
	overflow: auto;
}

#header #social {
	float:right;
	text-align: right;
	margin: 15px 20px 0 0;
}

/*
 * 
 * LET the menu begin
 * 
 */

nav {
	@include button_gradient(#f5f5f5, #d5d5d5);
	border-top: solid 1px;
	border-bottom: solid 1px;
	border-color: #bbb;
}


nav .container {
	
}

nav .sf-menu {
	display: block;
	text-shadow: rgba(255, 255, 255, 1.0) 1px 1px 1px;
	font-size: 16px;
	/* $p1, $p2, $p3, $percent, $frac */
	
}

nav a
{
	color: #454545 !important;
}

.sf-menu li:hover, .sf-menu li.sfHover, .nav li a:hover, .nav li a:focus,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	@include button_gradient($pcbluegs, $pssteel);
	outline: 0;
	color: #fff !important;
	text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px !important;
}

.sf-menu a:focus, .sf-menu a:active
, .nav li a:focus, .nav li a:active,
{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
}

/* Menu middel action section */

#menu-action {
	margin-top: -6px !important;
	text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px !important;
	color: #fff !important;
	z-index: 1000;
	position: relative;
}

#menu-action a
{
	height: 45px;
	font-weight: bold;
	font-size: 20px !important;
	color: #fff !important;
}

#menu-action a.left
{
	border-top: 1px solid $pssteel !important;
	border-left: 1px solid $pssteel !important;
}

#menu-action a.right
{
	border-top: 1px solid $pssteel !important;
	border-right: 1px solid $pssteel !important;
}


#menu-action li,
#menu-action li.sfVisited,
#menu-action a:visited {
	@include button_gradient($pcbluegs, $pssteel);
	font-size: 17px !important;
	color: #fff !important;
}

#menu-action a.left:hover, #menu-action a.left:active 
{
	border-top: 1px solid $pssteel !important;
	border-left: 1px solid $pssteel !important;
}

#menu-action a.right:hover, #menu-action a.right:active 
{
	border-top: 1px solid $pssteel !important;
	border-right: 1px solid $pssteel !important;
}


#menu-action li:hover, #menu-action li.sfHover,
#menu-action a:focus, #menu-action a:hover, #menu-action a:active {
	@include button_gradient($pcbluegs, $pcbluegf);
}

#menu-action a:active, #menu-action a:active{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
} 

nav #menu-right, nav #menu-action {
	margin-left: 20px;
}

/*
 * LET the page begin! 
 * 
 */
#page {
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0 15px 15px !important;
	overflow: auto;
	border-left: 1px solid #ddd;
	background-color: rgba(255, 255, 255, 0.9);
}

#content, #column {
	font-family: "Droid Sans","Lucida Grande",Tahoma,sans-serif;
}

#column {
	margin-left: 15px;
	margin-top: 15px;
	padding: 0 0 0 0px;
}

#column aside {
	margin: 0 0 15px 0;
	padding-bottom: 10px;
	background-color: $bggrey;
	@include border_radius(4px);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); 
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

#column aside p {
	margin-top: 0;
	padding: 0 10px;
	font-size: 0.9em;
}

#column aside header {
	background-color: #999;
	@include button_gradient(#eee, #999);
	color: #fff;
	text-align: center;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	@include border_radius_top(3px);
	text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px 2px 2px rgba(0,0,0,.7);
}

#column aside form {
	margin-bottom: 0;
}

#column .we-are {
	@include button_gradient($pcbluegs, $pssteel);
	color: #fff;
	background-color: $pcc;
	padding: 10px;
	font-size: 1em;
}

#column .we-are span{
	font-size: 1.5em;
	font-weight: bold;
}
#column .we-are ul{
	padding-left: 15px;
	margin: 0;
}

.clear {
	clear: both;
}

@mixin placeholder_text_style() {
	color: #989898;
	font-style: italic;
}

input::placeholder {
	@include placeholder_text_style();
}
input::-webkit-input-placeholder {
	@include placeholder_text_style();
}
input:-moz-placeholder {
	@include placeholder_text_style();
}

.cms_toolbar-item_logo {
	display: none !important;
	visibility: hidden !important;
}

.block {
	padding: 10px 10px 0 10px;
}


#banner {
	color: #fff;
}

#banner a.btn {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7) !important;
}

#banner p {
	margin: 0;
}

#banner .main {
	border: 10px solid $bggrey;
	background-image: url(../img/banner/launch_banner.png);
	min-height: 150px;
	font-size: 40px;
}

#banner .main p {
	line-height: 40px;
}

#banner .main .first {
	padding-top: 25px;
}

#banner .lower{
	margin-top: 10px;
}

#banner .lower div {
	border: 5px solid $bggrey;
	height: 150px;
	max-width: 280px;
}

#banner .lower .t2 {
	background: url(../img/banner/acta.png) no-repeat;
	text-align: right;
}

#banner .lower .t2 p {
	margin: 0 5px 0 0;
	
}

#banner .lower .t2 .read-more {
	position: relative;
	right: 0px;
	bottom: 0px;

}

#banner .lower .t1 {
	background: url(../img/banner/redacted.png) no-repeat;
	text-align: center;
}

#banner .lower .t3 {
	background: url(../img/banner/ozlog.png) no-repeat;
	text-align: center;
}

#banner .lower .c {
	font-size: 20px;

}

#banner .lower .last {
	margin-right: 0;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}


.news-header{
	margin: 10px 0;
	border: 5px solid $bggrey;
	background-color: $bggrey;
	text-align: center;
	font-size: 0.9em;
}


.news .info {
	overflow: auto;
}

.news .info .categories, .news .info .comments, .news .info .tags {
	float: left;
	margin-right: 20px
}

.news h1, .news h2, .news h2 a
{
	color: $pcc;
	margin: 0;
	font-size: 28px;
}

.news .by 
{
	font-size: 0.9em;
	color: #888;
}

/* Icons */

.icon, .icon-48 {
	background-repeat: no-repeat;
	display:block;
	float: left;
}

.icon-48 {
	height: 48px;
	width: 55px;
}

.icon-download {
	background-image: url(../img/icons/function/box_download_48.png)
}

.icon-pp {
	background-image: url(../img/icons/function/app_48.png)
}

footer {
	text-align: center;
	background-color: #fff;
}


.ppau-fixed-top {

}
.ppau-fixed-top, .ppau-fixed-bottom {
    margin-bottom: 0;
    z-index: 1030;
}

.ppau-fixed-top .navbar-inner {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset, 0 1px 10px rgba(0, 0, 0, 0.1);
}

.ppau-fixed-top .navbar-inner {
    border-radius: 0 0 0 0;
    padding-left: 0;
    padding-right: 0;
}

.ppau-fixed-top .navbar-inner {
    border-width: 0 0;
}

.ppau-fixed-top .container {
	max-width: 1200px;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {

	#page {
		padding-right: 15px !important;
	}

	header {
		background-image: url(../img/darkwave_normal_small.png);
		background-position: 0px 47px;
		background-repeat: repeat-x;
		background-color: #f7f7f7;
		height:65px;
	}
	
	#header {
		margin-left: auto;
		margin-right: auto;
	}
	
	#header {
		height: 65px;
		background: url(../img/boat_normal.png) no-repeat 205px 10px !important;
		background-size: 50px !important;
	}
	
	#header #logo {
		float: left;
		margin: 0 0 0 0;
		display: block;
		background: url(../img/logo.png) no-repeat;
		background-size: 55px;
		height: 55px;
		font-family: 'GehenSansCondensed';
	}
	
	#header #logo, header #logo:visited {
		font-size: 1.8em;
		margin: 5px 0 0 5px;
		padding: 0 0 0 60px;
		color: $pc;
		text-decoration: none;
		font-weight: bold;
	}
	
	#header #logo:hover, header #logo:active {
		color: $pcc;
	}
	
	#header #logo span {
		color: #000;
		font-weight: normal;
		font-family: 'GehenSans';
		line-height: 33px;
	}
	
	#header #logo .oz {
		font-family: 'GehenSans';
		display: block;
		margin-top: -10px;
		font-size: .65em;
		color: #333;
	}
  #header #logo {
  	margin-left: 10px !important;
  }
  
	body {
		min-width: 0px !important;
	}
}

@media (max-width: 855px) {
	#id_search_form { display: none; }
}

@media (max-width: 1120px) {
	#header {
		background-image: none;	
	}
  #header #logo {
  	margin-left: 15px;
  }
}

@media (min-width: 980px) {
	.dropdown-menu a {
		line-height: 28px !important;
	}
}


#page-row {
	background-color: #fff;
}

.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #ccc;
    background-image: -moz-linear-gradient(center top , #eee, #e8e8e8);
    background-repeat: repeat-x;
    color: #777 !important;
    text-shadow: none !important;
    outline: 0 none;
    text-decoration: none;
}


.center, .centre {
	text-align: center;
}
