body .ai1ec-agenda-widget-view .ai1ec-event{margin: 0 0 1em 0 !important;}
body .ai1ec-agenda-widget-view .ai1ec-date{background:none!important;border-top:none!important}
body .ai1ec-event-title{display:block;}
body .icon-arrow-right:before{content:""!important;}
body .ai1ec-month-view .ai1ec-event {height:auto}
body .ai1ec-agenda-widget-view h3.ai1ec-date-title {margin:0.1em 0.5em 0.5em!important;border-radius:0.5em!important;-webkit-border-radius:0.5em!important;-moz-border-radius:0.5em!important}
